<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Checkout</h1>
  <div class="flex justify-between">
    <div>
      <%= render "orders/form", order: @order %>
    </div>

    <div class="border rounded">
      <h4 class="font-medium text-xl text-center py-4 border-b">Cart</h4>
      <%= render @cart.cart_items %>

      <div class="flex items-center">
        <p class="flex-auto py-4 px-2">Total:</p>
        <%= turbo_frame_tag "total" do %>
          <%= render "total", cart: @cart %>
        <% end %>
      </div>
    </div>
  </div>
</div>
